body {font-size:.9em;font-family:Arial, Helvetica, sans-serif;}
TABLE  {border-collapse: collapse;border-spacing:0;border: 1px thin black;empty-cells: hide;}
H1, H2, H3, H4, H5, H6 {color: #000000;font-weight:500;margin-top:10px;padding-top:15px;}
A {color: #003399;}
A:active {color: #003399;}
A:visited {color:#888888;}
TD  {padding: 4pt;}
H1{font-size:150%;}
H2{font-size:140%;}
H3{font-size:110%;font-weight:bold;}
H4{font-size:110%;font-weight:bold;}
H5{font-size:100%;font-style:italic;}
H6{font-size:100%;font-style:italic;}
HR{width:100%;height:1px;background-color:#CCCCCC;border-width:0px;padding:0px;color:#CCCCCC;}
ol { list-style-type: upper-roman; }
ol ol { list-style-type: upper-alpha; }
ol ol ol { list-style-type: decimal; }
ol ol ol ol { list-style-type: lower-alpha; }
ol ol ol ol ol { list-style-type: lower-roman; }
